target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main//target/
!/src/test//target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store
.m2
*.pem

### IntelliJ IDEA ### 
.idea
*.iws
*.iml
*.ipr

### VSCode ### 
.vscode
 
### Env ###
src/main/resources/application.properties
