<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxiang.blog.dao.mapper.ArticleMapper">
  <select id="queryFullText" resultType="com.jxiang.blog.pojo.Article">
    select *
    from ms_article
    where deleted = false
    <if test="queryString != null">
      and (match(title, summary) against (#{queryString}))
    </if>
  </select>

  <select id="listArchiveSummary" resultType="com.jxiang.blog.vo.ArchiveVo">
    select FROM_UNIXTIME(create_date / 1000, '%y') as year,
           FROM_UNIXTIME(create_date / 1000, '%m') as month,
           count(*)                                as count
    from ms_article
    group by year, month;
  </select>
</mapper>